@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/chat.css"/>
    <link rel="stylesheet" href="~/css/chats.css"/>
    <script src="js/AutoScroll.js"></script>
    <title>Chat</title>
</head>
@RenderBody()