@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["title"]</title>
        <base href="~/" />
    </head>

    <body>

        @RenderBody()
        @*<script src="_framework/blazor.server.js"></script>*@
    </body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>