@model string

@{
    ViewData["Title"] = "Add friend";
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>
<div class="main-c">
    <form method="post">
        <div class="inputs-c">
            <label>
                Введите почту друга 
                <input name="email">
            </label>
        </div>
        <div class="submit-i">
            <button type="submit">Отправить запрос</button>
        </div>
    </form>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>