@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<string>

@foreach(var userId in Model)
{
    <div>
        <div>@userId</div>
        <form asp-controller="User" asp-action="Index" method="post">
            <input type="hidden" name="addresseeId" value="@userId" />
            <button type="submit">Go To Addressee</button>
        </form>
    </div>
    <br />
}

