@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject UserDbContext _dbContext

@model List<string>

@foreach(var userId in Model)
{
    <div>
        <div>@((await _dbContext.Users.FindAsync(userId)).Login)</div>
        <a href="user/@userId">Go To Addressee</a>
    </div>
    <br />
}
<div>
    <a href="friends/AddFriend">Add new friend</a>
</div>

