@using System.ComponentModel.DataAnnotations
@using No_Vk.Domain.Models

<div class="chat-info">
    <span class="chat-name">@ChatModel.Name</span>
</div>

@code {
    [Parameter] public Chat ChatModel { get; set; }
}