@page "/chats"
@using No_Vk.Domain.Services

@inject IUserDataService _userData
@inject NavigationManager _navigationManager    

<div class="chat-links-container">
    @foreach (var chat in _userData.GetMe()?.Chats)
    {
        var link = $"/chat/{chat.Id}";
        <NavLink href="@link" class="chat-link-container">
            <div class="chat-link-info">
                <div class="chat-link-name">@chat.Name</div>
                <div class="chat-link-members-count">Members: @chat.Users.Count</div>
            </div>
        </NavLink>
    }
    
</div>