@page "/chat/{ChatParentId}"

@using UserData = No_Vk.Domain.Models
@using No_Vk.Domain.Components.Chat
@inject UserDbContext _dbContext
@using Microsoft.Extensions.Logging
@using No_Vk.Domain.Models.SignalRHubs
@using No_Vk.Domain.Services
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.EntityFrameworkCore
@using No_Vk.Domain.Models.Abstractions
@using No_Vk.Domain.Models.Data

@inject IChatHandlerService _chatHandler 
@inject IUserDataService _userData
@inject NavigationManager _navigationManager
@inject ILogger<UserData.Chat> _logger

<div class="chat-container">
    <ChatInfo ChatModel="@_chat"></ChatInfo>
    <ChatMembers ChatModel="@_chat"></ChatMembers>
    <ChatMessages ChatModel="@_chat" @ref="_messagesElement"></ChatMessages>
    <div class="send-message-form">
        <input @bind="_messageText" class="send-message-input">
        <button type="submit" @onclick="() => Send(GetMessageFromString())" class="send-message-button">Send message</button>
    </div>
</div>

@code {
    [Parameter]
    public string ChatParentId { get; set; }

    private ChatMessages _messagesElement;

    private UserData.Chat _chat;

    private UserData.User _me;

    private string _messageText;

    private string _hubUrl;
    private HubConnection _hubConnection;

    private void GetChatHub()
    {
        var baseUrl = _navigationManager.BaseUri;

        _hubUrl = baseUrl.TrimEnd('/') + ChatHub.Url;

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(_hubUrl)
            .Build();

        _hubConnection.On("Broadcast", BroadcastMessage);

        _hubConnection.StartAsync();

    }

    private void BroadcastMessage()
    {
        _chat = _dbContext.Chats
            .Include(c => c.Messages)
            .Include(c => c.Users)
            .FirstOrDefault(c => c.Id == ChatParentId);
        StateHasChanged();
        _messagesElement.ScrollToEnd();
    }

    private void Send(UserData.Message message)
    {
        _chatHandler.CreateMessage(_chat, message);
        _hubConnection.SendAsync("Broadcast");
        _messagesElement.ScrollToEnd();
    }

    private UserData.Message GetMessageFromString() => new(_me, _chat, _messageText);

    protected override void OnInitialized()
    {
        _chat = _dbContext.Chats
            .Include(c => c.Messages)
            .Include(c => c.Users)
            .FirstOrDefault(c => c.Id == ChatParentId);
        GetChatHub();
        _me = _userData.GetMe();
    }

}