@page "/chats"
@using No_Vk.Domain.Services

@inject ILoggedInUserSessionService _loggedInUserSession

<h3>Chats</h3>
<br />
@{//TODO: Get chats in foreach
}
@*@foreach (var chat in _loggedInUserSession.Me.Chats)
{
    var link = $"/chat/{chat.Id}";
    <div>
        <h2><NavLink href="@link">@chat.Name</NavLink></h2>
        @foreach (var user in @chat.Users)
       {
           <h5>@user.Login</h5>
       }
    </div>
}*@