@page "/chats/create"

@using No_Vk.Domain.Models.ViewModels
@using No_Vk.Domain.Services

@inject IUserDataService _userData
@inject IChatHandlerService _chatData

<form action="" method="post">

    <div>
        Введите имя чата
        <input @bind="_chatTarget.Name" />
    </div>
    <div>
        <br />
        Добавить друзей в чат
        <br />
        @foreach(var user in _userData.GetFriendsAsUser())
        {
            @user.Login
            <input type="checkbox" @onchange="() => UpdateListOfUsers(user)" />
            <br />
        }
    </div>
    <button type="submit" @onclick="Submit">Создать чат</button>
</form>

@code {
    private ChatBindingTarget _chatTarget;
    private List<User> _users;

    protected override void OnInitialized()
    {
        _chatTarget = new();
        _users = new() { _userData.GetMe() };
    }


    private void Submit()
    {
        _chatData.CreateChat(_chatTarget, _users.ToArray());
    }

    private void UpdateListOfUsers(User user)
    {
        if (_users.Contains(user))
        {
            _users.Remove(user);
        }
        else
        {
            _users.Add(user);
        }
    }

}
