@model UserRegistrationBindingTarget

@{
    ViewData["Title"] = "Login";
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>
<div class="main-c">
    <form method="post">
        <div class="inputs-c">
            <label>
                <span asp-validation-for="Email">Введите почту</span>
                <input asp-for="Email">
            </label>    
            <label>
                <span asp-validation-for="Password">Введите пароль</span>
                <input asp-for="Password">
            </label>
        </div>
        <div class="submit-i">
            <button type="submit">Подтвердить</button>
        </div>
    </form>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>