@model UserRegistrationBindingTarget

@{
    Layout = "_Login";
    ViewData["Title"] = "Login";
}


<div class="input-item">
    <label asp-for="Email">Enter email</label>
    <input placeholder="Your email" class="input" asp-for="Email">
</div>
<div class="input-item">
    <label asp-for="Password">Enter password</label>
    <input placeholder="Your password" class="input" asp-for="Password" type="password">
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>