@model UserRegistrationBindingTarget
@{
    ViewData["Title"] = "Registration";
}
<style>
    .input-validation-error {
        border-color: red;
    }
</style>
<div class="main-c">
    <h3>@ViewBag.Validation</h3>
    <form method="post">
        <div class="inputs-c">
            <label>
                Введите имя
                <input asp-for="Login">
                <h3><span asp-validation-for="Login"></span></h3>
            </label>
            <label>
                Введите почту
                <input asp-for="Email">
                <h3><span asp-validation-for="Email"></span></h3>
            </label>
            <label>
                Введите пароль
                <input asp-for="Password">
                <h3><span asp-validation-for="Password"></span></h3>
            </label>
        </div>
        <div class="submit-i">
            <button type="submit">Подтвердить</button>
        </div>
    </form>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>