@model UserRegistrationBindingTarget

@{
    Layout = "_Login";
    ViewData["Title"] = "Registration";
}

<div class="input-item">
    <label>Enter login</label>
    <div asp-validation-for="Login"></div>
    <input placeholder="Your name" class="input" asp-for="Login">
</div>
<div class="input-item">
    <label>Enter email</label>
    <div asp-validation-for="Email"></div>
    <input placeholder="Your email" class="input" asp-for="Email">
</div>
<div class="input-item">
    <label>Enter password</label>
    <div asp-validation-for="Password"></div>
    <input placeholder="Your password" class="input" type="password" asp-for="Password">
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>