@using No_Vk.Domain.Models.Abstractions
@using No_Vk.Domain.Models.Data
@using No_Vk.Domain.Models.Notices

<div class="notice">
    <h3>@Notice.Name</h3>
    <h3>@Notice.Description</h3>
    @if (Notice.Type == NoticeType.FriendInvite.ToString())
    {
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        <button>@currentCount</button>
    }
</div>
 <style>
     .notice {
         padding: 10px;
         margin: 10px;
         border: solid 2px;
         border-color: black;
     }
 </style>

@code {
    [Parameter]
    public Notice Notice { get; set; }
    //[Inject]
    //public static IUserRepository UserRepository { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}