@page "/notice"

@using No_Vk.Domain.Services

@inject IUserRepository _userRepository
@inject ILoggedInUserSessionService _loggedInUserSession
@inject INoticeHandlerService _noticeHandler

<h3>Notices</h3>

@foreach (var notice in _myNotices)
{
    <div class="notice">
    <h3>@notice.Name</h3>
    <h3>@notice.Description</h3>
    @if (notice.Type == NoticeType.FriendInvite)
    {
        <div @onclick="OnInitialized">
            <button class="btn btn-primary" @onclick="() => AcceptFriendInvite(notice)">Принять</button>
            <button @onclick="() => DeclineFriendInvite(notice)">Отклонить</button>
        </div>
    }
</div>
 <style>
     .notice {
         padding: 10px;
         margin: 10px;
         border: 2px solid black;
     }
 </style>
}

@code {
    private IQueryable<Notice> _myNotices;

    private User _me;
    
    private IQueryable<Notice> GetList() => _userRepository
        .GetNotices()
        .Where(n => n.Addressee.Id == _me.Id);

    protected override void OnInitialized()
    {
        _me = _loggedInUserSession.Me;
        _myNotices = GetList();
    }

    private void AcceptFriendInvite(Notice notice)
    {
        _noticeHandler.FriendInviteInvoke(notice, true);
        OnInitialized();
    }
    private void DeclineFriendInvite(Notice notice)
    {
        _noticeHandler.FriendInviteInvoke(notice, false);
        OnInitialized();
    }
}
