@using No_Vk.Domain.Services

@model No_Vk.Domain.Models.ViewModels.ChatViewModel

@inject IUserDataService _userData
@inject IChatHandlerService _chatData

@{
    Layout = "_Layout";
}

<form class="form" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="input-items">
        <div class="input-item">
            <label asp-for="ChatTarget.Name">Enter the chat name</label>
            <div asp-validation-for="Login"></div>
            <input placeholder="Your chat" class="input" asp-for="ChatTarget.Name">
        </div>
        <div class="input-item">
            <label>Add friends to the chat</label>
            <div class="friend-checkboxes">
                @foreach(var friend in (await _userData.GetMeAsync())?.Friends)
                {
                    @friend.FriendUser.Login
                    @Html.CheckBoxFor(model => Model.UserIds[friend.FriendUser.Id])
                    <br />
                }
            </div>

        </div>
    </div>
    <div class="submit-container">
        <button class="submit" type="submit">Create chat</button>
    </div>
</form>