@using No_Vk.Domain.Services

@model No_Vk.Domain.Models.ViewModels.ChatViewModel

@inject IUserDataService _userData
@inject IChatHandlerService _chatData

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>title</title>
</head>
<body>
<form method="post">
    <div>
        Введите имя чата
        <input asp-for="ChatTarget.Name" />
    </div>
    <div>
        <br />
        Добавить друзей в чат
        <br />
        @foreach(var friend in _userData.GetMe().Friends)
        {
            @friend.FriendUser.Login
            @Html.CheckBoxFor(model => Model.UserIds[friend.FriendUser.Id])
            <br />
        }
    </div>
    <button type="submit">Создать чат</button>
</form>
</body>
</html>