@model string

<div>@Model</div>

<form asp-controller="Chat" asp-action="Index" method="post">
    <input type="hidden" name="userId" value="@Model" />
    <button type="submit">Создать чат</button>
</form>