@{
    ViewData["Title"] = "Chat";
}

<div class="main-c">
    <div class="message-c">
        TODO: List of messages
    </div>
    <div class="interactive-c">
        <form action="" method="post">
            <input class="message-i" type="text">
            <button class="submit-i" type="submit">Send</button>
        </form>
    </div>
</div>