@using No_Vk.Domain.Models.Abstractions
@inject UserDbContext _dbContext

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <div class="d-site-info">
            @{
                var user = _dbContext.Users.First();
            }
            @user.Id
        </div>
</div>
